html{
    font-size: 16px;
}
body{
    margin: 0;
    background-color: #F5F5F5;
}
header{
    background-color: #F0F0F0;
    height: 10vw;
    text-align: center; 
    padding-top: 2vw;     
}
form input{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
form span:nth-child(1){
    position: absolute;
    top: 4vw;
    left: 0;
}
form span:nth-child(3){
    position: absolute;
    top: 4vw;
    right: 0;
}
/*内容*/
.landing{
    width: 100%;
    height: 30vw;
    background-color: #FF6B01;
}
.landing a button{
    position: relative;
    color: white;
    top: 4vw;
    left: 39vw;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.puls{
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background-color: #FFD14D;
    margin-top: -14vw;
    margin-left: 36vw;
}
.fuhao{
    font-size: 12vw;
    color: white;
    text-align: center;
    /*margin-top:8vw; */
    position: relative;
    top: 6vw;
}
.title{
    width: 100vw;
    height: 35vw;
    display: flex;
    justify-content: space-around;
    /*background-color: white;*/
}
.title span{
    font-size: 12vw;
    color:gray; 
}
.title p{
    font-size: 0.8rem;
    color: gray;
    margin-top: 4vw;
    text-align: center;
    
}
.red{
    width: 7vw;
    height: 1vw;
    position: relative;
    left: 3vw;
    background-color: #C8181A;
}
.green{
    width: 7vw;
    height: 1vw;
    position: relative;
    left: 3vw;
    background-color: #137218;
}
.orang{
    width: 7vw;
    height: 1vw;
    position: relative;
    left: 3vw;
    background-color: #E5A635;
}
section{
    background-color: #F5F5F5;
}
section div{
    width: 100vw;
    color: gray;
    padding:2vw 0;
    padding-left: 5vw;
    background-color: white;
}
section div span{
    font-size: 0.9rem;  
}
section div span:nth-child(2){
    margin-left: 7vw;
}
section div:nth-child(1){
    margin-top: 4vw;
}
section div:nth-child(2){
    margin-top: 1vw;  
}
section div:nth-child(3){
    margin-top: 4vw;  
}
section div:nth-child(4){
    margin-top: 4vw;  
}
/*底部*/
.foot{
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center; 
}
.foot_content{
    box-sizing: border-box;
    padding-top: 3vw;
}
.foot_content span{
    width: 6vw;
    height: 5vw;
    text-align: center;
}
.foot_content p{
    font-size: 0.7rem;
    color: gray;
}
.foot_content a:hover{
    color: orange; 
}
.foot_content a p:hover{
    color: orange; 
    text-decoration: none;  
}